<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img *ngIf="innerWidth > 1040" class="d-block w-100" src="https://i.imgur.com/38DqtVJ.png" alt="First slide">
        <div *ngIf="1040 >= innerWidth" class="infoBox-mobile">
            <div class="inside-infoBox">
                <div class="row">
                    <div class="col-sm5 center">
                        <img style="margin-top: 70%; width: 7vw;" src="https://www.flaticon.com/svg/static/icons/svg/2897/2897683.svg">
                    </div>
                    <div class="col center">
                        <h2 class="-lineBelow" style="font-size:4vw;">Depotrum, garageudlejning og opbevaring i Sønderborg</h2>
                        <h4 style="font-size: 2.3vw;">Sjællandsgade 26
                            6400 Sønderborg</h4>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="innerWidth > 1040" class="infoBox-desktop center">
            <div class="inside-infoBox">
                <h2 class="-lineBelow" style="font-size: 2vw;">Depotrum, garageudlejning og opbevaring i Sønderborg</h2>
                <h4 style="font-size: 1.3vw;">Sjællandsgade 26
                    6400 Sønderborg</h4>
                <img style="margin-top: 20px; width: 6vw;" src="https://www.flaticon.com/svg/static/icons/svg/2897/2897683.svg">
            </div>
        </div>
      </div>
    </div>
  </div>
<div class="container inside">
    <div class="row">
        <!-- <h1 class="-lineBelow" style="margin-bottom: 20px;">Depotrum, garageudlejning og opbevaring i Sønderborg</h1> -->
        <h3>Landsdelens største center for opbevaring!</h3>
        <p>Hos CasaBox udlejer vi depotrum og garager i flere forskellige størrelser. Vores faciliteter er topmoderne og
            sikkerheden er helt i top. Det er din garanti for et sikkert og tørt sted at opbevare dine ting.</p>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-4">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top"
                    src="https://i.imgur.com/Hq96zjz.jpg"
                    alt="Card image cap" height="200px">
                <!-- Card content -->
                <div class="card-body base-color card-body-md">
                    <!-- Title -->
                    <h4 class="card-title"><a>Adgang hele døgnet</a></h4>
                    <!-- Text -->
                    <p class="card-text">Du får udleveret en nøglebrik og en fjernbetjening, der giver adgang til dine
                        ting hele døgnet rundt, 365 dage om året.</p>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-4">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top"
                    src="https://i.imgur.com/LqCuXrw.jpg"
                    alt="Card image cap" height="200px">
                <!-- Card content -->
                <div class="card-body base-color card-body-md">
                    <!-- Title -->
                    <h4 class="card-title"><a>Sikkerheden er i top</a></h4>
                    <!-- Text -->
                    <p class="card-text">Hele vores område er indhegnet og videoovervåget. Alle rum er udført i stærke
                        stålprofiler, hvilket gør dem tyverisikre.</p>
                </div>
            </div>
            <!-- Card -->

        </div>
        <div class="col-lg-4">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="https://i.imgur.com/Eh6FhW3.png"
                    alt="Card image cap" height="200px">
                <!-- Card content -->
                <div class="card-body base-color card-body-md">
                    <!-- Title -->
                    <h4 class="card-title"><a>Nyt og moderne</a></h4>
                    <!-- Text -->
                    <p class="card-text">Når du opbevarer dine ting hos CasaBox er du sikker på at de bliver opbevaret i
                        et moderne, tørt og sikkert depotrum.</p>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>