<div class="container inside">
    <h1 class="-lineBelow center">Sådan bestiller du et depotrum</h1>
    <div class="infoBox">
        <h4>Du kan bestille dit depotrum:</h4>
        <ul>
            <li>via vores <a href="kontakt-os.html">mailformular</a></li>
            <li>direkte via mail på&nbsp;<a href="mailto:info@casabox.dk">info@casabox.dk</a></li>
            <li>pr. post til CasaBox, Sjællandsgade 26, 6400 Sønderborg</li>
            <li>ved henvendelse på tlf. 22 40 60 64</li>
            <li><b>Nyhed!</b> Bestil via vores hjemmeside. Vi tager imod Visa/Dankort, Mastercard og MobilePay</li>
        </ul>
    </div>
</div>

<div class="center distant-top">
    <h3>Online bestilling / Oversigt</h3>
    <h5>Vælg den størrelse du ønsker at bestille</h5>
</div>
<div class="inside">
    <div class="row no-gutters h-10">
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot1 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot2 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot3 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot4 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot5 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot6 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="casaBox-common">
                <a href="https://www.qries.com/">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/garage_rum.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 <span class="tab"></span><b>Pris:</b> 380 kr.
                        </p>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>