<div class="container inside">
    <h1 class="-lineBelow center">Sådan bestiller du et depotrum</h1>
    <div class="infoBox">
        <h4>Du kan bestille dit depotrum:</h4>
        <ul>
            <li>via vores <a href="kontakt-os.html">mailformular</a></li>
            <li>direkte via mail på&nbsp;<a href="mailto:info@casabox.dk">info@casabox.dk</a></li>
            <li>pr. post til CasaBox, Sjællandsgade 26, 6400 Sønderborg</li>
            <li>ved henvendelse på tlf. 22 40 60 64</li>
            <li><b>Nyhed!</b> Bestil via vores hjemmeside. Vi tager imod Visa/Dankort, Mastercard og MobilePay</li>
        </ul>
    </div>
</div>

<div class="center distant-top">
    <h3>Online bestilling / Oversigt</h3>
    <h5>Vælg den størrelse du ønsker at bestille</h5>
</div>
<div class="inside auto-margin-max-width">
    <div class="row no-gutters h-10">
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(4,10,'Depotrum')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot1 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                            <p class="card-text"><b>Størrelse: </b> 4m2 / 10m3 
                                <span class="tab"></span>
                                <b>Pris:</b> 380 kr.
                                <span 
                                [matTooltip]="allCasaBoxVariantsDto[0].antalLedige + ' ledige depotrum'" 
                                matTooltipPosition="right"
                                [ngClass]="allCasaBoxVariantsDto[0].antalLedige > 0 ? 'available' : 'not-available'">
                                    <i class="tab fas fa-dot-circle"></i>
                                  </span>
                                  {{allCasaBoxVariantsDto[0].antalLedige}}
                            </p>
                            
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(5.2,13,'Depotrum')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot2 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text"><b>Størrelse: </b> 5.2m2 / 13m3 
                            <span class="tab"></span>
                            <b>Pris:</b> 480 kr.
                            <span 
                            [matTooltip]="allCasaBoxVariantsDto[1].antalLedige + ' ledige depotrum'" 
                            matTooltipPosition="right"
                            [ngClass]="allCasaBoxVariantsDto[1].antalLedige > 0 ? 'available' : 'not-available'">
                                <i class="tab fas fa-dot-circle"></i>
                              </span>
                              {{allCasaBoxVariantsDto[1].antalLedige}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(7.75,18.5,'Depotrum')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot3 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text">
                            <b>Størrelse: </b> 7.75m2 / 18.5m3 
                            <span class="tab"></span>
                            <b>Pris:</b> 580 kr.
                            <span 
                            [matTooltip]="allCasaBoxVariantsDto[2].antalLedige + ' ledige depotrum'" 
                            matTooltipPosition="right"
                            [ngClass]="allCasaBoxVariantsDto[2].antalLedige > 0 ? 'available' : 'not-available'">
                                <i class="tab fas fa-dot-circle"></i>
                              </span>
                              {{allCasaBoxVariantsDto[2].antalLedige}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(9.45,23.7,'Depotrum')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot4 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text">
                            <b>Størrelse: </b> 9.45m2 / 23.7m3 
                            <span class="tab"></span>
                            <b>Pris:</b> 680 kr.
                            <span 
                            [matTooltip]="allCasaBoxVariantsDto[3].antalLedige + ' ledige depotrum'" 
                            matTooltipPosition="right"
                            [ngClass]="allCasaBoxVariantsDto[3].antalLedige > 0 ? 'available' : 'not-available'">
                                <i class="tab fas fa-dot-circle"></i>
                              </span>
                              {{allCasaBoxVariantsDto[3].antalLedige}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(12.6,31.5,'Depotrum')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot5 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text">
                            <b>Størrelse: </b> 12.6m2 / 31.5m3 
                            <span class="tab"></span>
                            <b>Pris:</b> 780 kr.
                            <span 
                            [matTooltip]="allCasaBoxVariantsDto[4].antalLedige + ' ledige depotrum'" 
                            matTooltipPosition="right"
                            [ngClass]="allCasaBoxVariantsDto[4].antalLedige > 0 ? 'available' : 'not-available'">
                                <i class="tab fas fa-dot-circle"></i>
                              </span>
                              {{allCasaBoxVariantsDto[4].antalLedige}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(17,51,'Depotrum')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/depot6 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text">
                            <b>Størrelse: </b> 17m2 / 51m3 
                            <span class="tab"></span>
                            <b>Pris:</b> 1200 kr.
                            <span 
                            [matTooltip]="allCasaBoxVariantsDto[5].antalLedige + ' ledige depotrum'" 
                            matTooltipPosition="right"
                            [ngClass]="allCasaBoxVariantsDto[5].antalLedige > 0 ? 'available' : 'not-available'">
                                <i class="tab fas fa-dot-circle"></i>
                              </span>
                              {{allCasaBoxVariantsDto[5].antalLedige}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="casaBox-common">
                <a (click)="purchase(21,0,'Garage')">

                    <div class="casaBox-image-container-preview">
                        <div class="zoom">
                            <img src="/assets/img/sizes/garage 2.png" class="casaBox-img-fill" />
                        </div>
                    </div>
                    <div class="casabox-short-desc">
                        <p class="card-text">
                            <b>Størrelse: </b> 21m2 
                            <span class="tab"></span>
                            <b>Pris:</b> 550 kr.
                            <span 
                            [matTooltip]="allCasaBoxVariantsDto[6].antalLedige + ' ledige garager'" 
                            matTooltipPosition="right"
                            [ngClass]="allCasaBoxVariantsDto[6].antalLedige > 0 ? 'available' : 'not-available'">
                                <i class="tab fas fa-dot-circle"></i>
                              </span>
                              {{allCasaBoxVariantsDto[6].antalLedige}}
                        </p>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>