/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import url('https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css');
@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');


* {
    font-family: 'Titillium Web', sans-serif;
}

.inside{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 70px;
}

.base-color{
    background-color: #a72314 !important;
}

.center{
    text-align: center;
}

.distant-top{
    margin-top: 5%;
}

.tab{
    padding-left:20px;
}

.-lineBelow::after{
content: "";
display: block;
border: none;
width: 60px;
height: 2px;
margin: 1.15rem auto 1.4rem;
background: #a72314;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
